.herosection {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: var(--maincolor);
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 7rem;
}

.herosectioninfo {
    max-width: 327px;
    color: #edefee;
    margin: 0 40px;
}
.herosection figure {
    height: 100%;
    position: relative;
    width: 350px;
}

.herosection figure>img {
    height: 100%;
    object-fit: contain;
    z-index: 10;
    position: absolute;
    top: 15%;
    right: 0;
    border-radius: 16pt;
}
@media screen and (max-width:480px){
    .herosection{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, .8)),url("../assets/restauranfood.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .herosectioninfo h2{
        font-size: 30pt !important;
    }
}
