.highlights {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlightsheader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlightitem {
    width: 260px;
    background-color: var(--grey);
    border-radius: 16pt;
    box-shadow: 3px 3px 10px 0px rgb(149, 148, 148);
    margin-bottom: 2rem;
}

.highlightitem figure img {
    border-radius: 16pt 16pt 0 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.highlightitemmain span {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.highlightitemmain span h6,
.highlightfooter p {
    font-size: var(--leadtext);
    font-weight: 600;
    margin: 0
}

.highlightitemmain span p {
    font-size: var(--highlighttext);
    color: #ee9972;
    margin: 0
}

.highlightitemmain>p {
    font-size: var(--highlighttext);
    line-height: 1.5rem;
    opacity: .75;
}

.highlightfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.1rem;
    margin-top: 1.5rem;
    color: var(--maincolor)
}
@media screen and (max-width:700px){
    .highlightsheader h2{
        font-size: 25pt !important;
    }
    .highlightsheader {
        width: 90%;
        margin-bottom: 2rem;
    }
    .highlights{
        margin-top: 3rem;
    }
}
@media screen and (max-width:500px){
    .highlightsheader h2{
        font-size: 12pt !important;
        font-weight: 700;
    }
}